.bg-login {
    /* The image used */
    background-image: url("http://qbzzanv01.bkt.clouddn.com/image/bg_login.jpg");
    align-items: center;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-signup {
    /* The image used */
    background-image: url("http://qbzzanv01.bkt.clouddn.com/image/bg_signup.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_fullscreen {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.item_link a {
    color: #999;
    transition: ease-in-out color .15s;
}

.item_link a:hover {
    color: #000000;
    text-decoration: none;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 90%;
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
